<h1>Lista de Productos</h1>

<article>
    <table>
        <tr>
            <th>Título</th>
            <th>Descripción</th>
            <th>Código</th>
            <th>Precio</th>
            <th>Estado</th>
            <th>Stock</th>
            <th>Categoría</th>
            <th>Thumbnails</th>
            <th>Detalle</th>
        </tr>
        <tbody>
            {{#each data.payload}}
            <tr>
                <td>{{this.title}}</td>
                <td>{{this.description}}</td>
                <td>{{this.code}}</td>
                <td>{{this.price}}</td>
                <td>{{this.status}}</td>
                <td>{{this.stock}}</td>
                <td>{{this.category}}</td>
                <td>{{this.thumbnails}}</td>
                <td>
                   <button id="agregarAlCarrito" style="padding: 5px 15px; font-size: 12px;">Agregar al carrito</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <p>Página actual: {{data.page}}</p>
    <a href="{{data.prevLink}}" role="button" {{#unless data.hasPrevPage}}disabled{{/unless}}>Anterior</a>
    <a href="{{data.nextLink}}" role="button" {{#unless data.hasNextPage}}disabled{{/unless}}>Siguiente</a>
</article>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const agregarAlCarritoBtn = document.getElementById('agregarAlCarrito');

    agregarAlCarritoBtn.addEventListener('click', function() {
      alert('Perdón, esa parte no está hecha.');
    });
  });
</script>